@tailwind base;
@tailwind utilities;
@tailwind components;

::-webkit-scrollbar {
  background-color: #252529;
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #04D361;
  width: auto;
}

a:hover {
  color: white;
}
